<% include ../partials/header %>

<section class="container">

  <div class="col-12 col-xl-4 float-left">
    <div class="card mx-auto text-center mb-lg-5" style="width: 18rem;">
      <a class="mt-3" id="profileImgLink" href="/profile/<%=user._id%>/edit/avatar">
        <span id="profileImgEdit" ><i class="fas fa-edit"></i></span>
        <img id="profileImg" class="card-img-top text-center mx-auto" src="<%=user.avatar%>" alt="Profile Avatar" title="Edit your avatar" onerror="this.src='https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081';">
      </a>
      <h6 class="card-text text-center mx-auto mt-4 m-0"><%= user.username %></h6>
      <h4 class="card-text text-center mx-auto mt-1"><%= user.firstName %> <%= user.lastName %></h4>
      <hr class="w-50 mx-auto">
      <p class="card-text text-center mx-auto pr-5 pl-5" size="22" style="word-break: normal"><%= user.message %></p>
      <div class="card-body">
        <a href="/profile/<%=user._id%>/edit" class="btn btn-info float-right" title="Edit profile"><i class="fas fa-edit"></i></a>
      </div>
    </div>  
  </div>

  <div class="col-12 col-xl-8 float-right mb-lg-5">
    <h3 class="text-center mx-auto mt-lg-5"><%= user.username %>'s Contact Forms:</h3>
    <ul class="list-group mt-3">
      <!-- looping thru all the contact forms submitted by the user -->
    <% contact.forEach(function(contact) { %>
      <li id="profileContact" class="list-group-item mt-3">
        <p class="text-center mx-auto"><strong>Lawyers Name:</strong> <%= contact.lawyersName %></p>
        <p class="text-center mx-auto"><strong>Reason For Contacting:</strong> <%= contact.rFContact %></p>
        <p class="text-center mx-auto"><strong>Message:</strong> <%= contact.message %></p>
        <p class="text-center mx-auto"><strong>Lawyers Comment:</strong> <%= contact.lawyersMessage %></p>
        <form action="/profile/<%= contact._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger float-right" title="Delete contact form"><i class="fas fa-trash"></i></button>
        </form>
        <a href="/profile/<%=user._id%>/edit/<%=contact._id%>" title="Edit contact form">Edit</a>
      </li>
    <% }); %>
    </ul>
  </div>

</section>
<% include ../partials/footer %>